block head
  title #{title}

block css
  link(rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")

block body
  h1 #{title}
  h3 #{subtitle}

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
