html
  head
    title jade-knockout-template index
  body
    h1 jade-knockout-template index
    ul
      li
        // We are writing jade templates, but still serving HTML to the browser
        a(href='html/homepage.html') Homepage